:root {
  --OA-deep-cobalt-blue: #214080;
  --OA-deep-navy: #4566B0;
  --OA-purple: #774C9E;
  --OA-dark-navy: #10152A;
  --OA-tropical-blue: #B8CCEA;
}

#container {
  height: 600px;
  width: 900px;
  margin: auto;
  border: thick solid var(--OA-dark-navy);
  background-color: var(--OA-tropical-blue);
  text-align: center;
}

.input-item {
  margin: auto;
  width: 300px;
}

#form {
  display: flex;
  flex-direction: column;
}